{% load static %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/login.css' %}" rel="stylesheet">

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://t4.ftcdn.net/jpg/01/14/23/99/360_F_114239915_60W45YI33iFWlZXKL5nyLacRNw4Sj7Pg.jpg"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">LM Dent Clinica Dental</h4>
                  </div>
  
                  <form method="post">{% csrf_token %}
  
                    <div class="form-outline mb-4">
                        {{ form.username.label_tag }} {{form.username}}
                    </div>
  
                    <div class="form-outline mb-4">
                      {{ form.password.label_tag }} {{ form.password }}
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom mb-3" type="submit">Iniciar Sesión
                        </button>
                      <a class="text-muted" href="#!">Olvidaste tu contraseña?</a>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Somos más que solo una Clínica Dental</h4>
                  <p class="small mb-0">En nuestra clínica dental, nos enorgullece ofrecer una atención odontológica de alta calidad y personalizada para ti y tu familia.
                     Nuestro equipo de profesionales altamente calificados está comprometido en brindar el mejor cuidado dental en un entorno cómodo y acogedor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>