{% extends "base.html" %}
{% load static %}
{% load view_breadcrumbs %}
{% block title %}Pacientes{% endblock %}
{% block breadcrumbs %}
{% render_breadcrumbs %}
{% endblock %}
{% block content %}

<div class="container-fluid">
    {% for message in messages %}
    <div class="container-fluid p-0 " id="message_container">
        <div class="alert-primary {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="form-row" style="padding-top: 15;">
        <div class="col-12">
            <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
                <div class="card-header text-white mb-3" style="background-color:  rgb(75, 153, 177);">Seleccione Fechas
                </div>
                <div class="card-body">

                        <button class="btn btn-outline-info ml-2" id="toggleButton" style="border-radius: 20px; font-size: small;">Aplicar</button>

                </div>
            </div>
        </div>
        <!-- <div class="col-4">
            <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
                <div class="card-header text-white mb-3" style="background-color:  rgb(75, 153, 177);">Cargar Archivo
                </div>
                <div class="card-body">
                    <form method="POST" class="form-signin" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <button class="btn btn-outline-info ml-2" style="border-radius: 20px; font-size: small;"
                            type="submit">Subir Archivo</button>
                    </form>
                    {% if uploaded_file_url %}
                    <p>Archivo subido Exitosamente en: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div> -->
    </div>
    <div id="hiddenTable" class="form-row" style="padding-top: 15; display: none;">
        <div class="col-12">
            <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
                <div class="card-header text-white mb-3" style="background-color:  rgb(75, 153, 177);">Cargar Archivo
                </div>
                <div class="card-body">
                    <div class="table-responsive py-2">
                        <table class="table table-striped table-bordered table-sm" id="table-DB"
                            style="font-size: 11px;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Prestación</th>
                                    <th>Pieza</th>
                                    <th>Fecha</th>
                                    <th>Sucursal</th>
                                    <th>Paciente</th>
                                    <th>Honorario</th>
                                    <th>Descuento Extra</th>
                                    <th>Honorario menos descuento</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script>
    // Obtén una referencia al botón y al div
    var toggleButton = document.getElementById('toggleButton');
    var hiddenTable = document.getElementById('hiddenTable');

    // Agrega un controlador de eventos para el clic en el botón
    toggleButton.addEventListener('click', function () {
        hiddenTable.style.display = 'block';
    });
</script>