{% extends "base.html" %}
{% load static %}
{% block title %}Editar Paciente{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .asteriskField {
    display: none;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group select,
  .form-group textarea {
    font-size: 13px;
  }

  .custom-divider {
    border-right: 1px solid #ccc;
    padding-right: 15px;
  }
</style>
<div class="container-fluid">
  {% for message in messages %}
  <div class="container-fluid p-0 alert-primary" id="message_container">
    <div class=" {{ message.tags }} alert-dismissible" role="alert">
      {{ message }}
    </div>
  </div>
  {% endfor %}
  <div class="form-row" style="padding-top: 15;">
    <div class="col-12">
      <div class="card" id="">
        <div class="card-header text-white mb-3" style="background-color:  rgb(75, 153, 177);">Editar Paciente</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-5 custom-divider">
                <p style="font-size: 17px;">Datos Personales</p>
                <div class="form-group">
                  {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.rut|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.phone|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.address|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.email|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.gender|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.date_of_birth|as_crispy_field }}
                </div>
              </div>
              <div class="col-7">
                <p style="font-size: 17px;">Información de Salud</p>
                <div class="form-group">
                  {{ form.diseases|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.allergies|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.prevition|as_crispy_field }}
                </div>
                <p style="font-size: 17px; margin-top: 1rem;">Fechas de Control</p>
                <div class="form-group">
                  {{ form.create_date|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.last_control|as_crispy_field }}
                </div>
              </div>
            </div>
            <input class='btn btn-outline-info' type='submit' id="submit" value='Editar Paciente'
            style="font-size: 13px;">
          <a href="{% url 'index' %}" class="btn btn-outline-info mr-1" style="font-size: 13px; width: 120px;">
            Volver
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}