{% extends "base.html" %}
{% load static %}
{% load view_breadcrumbs %}
{% block title %}Pacientes{% endblock %}
{% block breadcrumbs %}
    {% render_breadcrumbs %}
{% endblock %}
{% block content %}

<div class="container-fluid">
  {% for message in messages %}
    <div class="container-fluid p-0 " id="message_container">
        <div class="alert-primary {{ message.tags }} alert-dismissible" role="alert" >
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="form-row" style="padding-top: 15;">
        <div class="col-12">
            <div class="card" id="">
                <div class="card-header text-white mb-3" style="background-color:  rgb(75, 153, 177);">Pacientes</div>
                <div class="card-body">
                    <div class="">
                        <a href="{% url 'create_patient' %}" class="btn btn-outline-info mr-1 mr-2 btn-sm" style="border-radius:20px;">
                           Agregar Paciente <i class="fas fa-plus" style="font-size: 11px;" ></i>
                        </a>
                        <a href="{% url 'create_patient' %}" class="btn btn-outline-info mr-1 mr-1 btn-sm" style="border-radius:20px;">
                            Exportar a Excel <i class="fas fa-file" style="font-size: 11px;" ></i>
                         </a>  
                    </div><hr> 
                 
                    <div class="table-responsive py-2">
                        <table class="table table-striped table-bordered table-sm"  id="table-DB" style="font-size: 11px;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Rut</th>
                                    <th>Email</th>
                                    <th>Teléfono</th>  
                                    <th>Edad</th>
                                    <th>Previsión</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for px in pacientes %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{px.name}}</td>
                                    <td>{{px.rut}}</td>
                                    <td>{{px.email}}</td>
                                    <td>{{px.phone}}</td>
                                    <td>{{px.age}}</td>
                                    <td>{{px.prevition}}</td>
                                    <td style="width: 160;" >
                                        <a href="{% url 'patient_detail' px.id %}" class="btn btn-success mr-1" data-toggle="tooltip" data-placement="top" title="Ver detalle"><i class="fas fa-eye" style="font-size: 11px;" ></i></a>    
                                        <a href="{% url 'edit_patient' px.id %}" class="btn btn-info mr-1" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit" style="font-size: 11px;"></i></a>
                                        <a href="{% url 'delete_patient' px.id %}" class="btn btn-danger delete_patient" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash" style="font-size: 11px;" ></i></a>
                                    </td>                                  
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.13.2/sorting/datetime-moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

<script>
    $(document).ready(function(){

        $('[data-toggle="tooltip"]').tooltip();
        $.fn.dataTable.moment = function ( format, locale ) {
        var types = $.fn.dataTable.ext.type;
        types.detect.unshift( function ( d ) {
            return moment( d, format, locale, true ).isValid() ?
                'moment-'+format :
                null;
        } );
        types.order[ 'moment-'+format+'-pre' ] = function ( d ) {
            return moment( d, format, locale, true ).unix();
            };
        };
        $.fn.dataTable.moment('DD/MM/YYYY');
        var table = $('#table-DB').DataTable({
            language: { url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json' },
            dom: 'Bfrtip',
            buttons: [ {
                
                extend: 'excelHtml5',
                title: 'Tabla-Ordenes',
                exportOptions: { columns: [1,2,3,4,5,6,7,8,9,10,11] },
                                   
            }, 'colvis']             
        }); 
    });
</script>
{% endblock %}
