{% extends "base.html" %}
{% load static %}
{% load view_breadcrumbs %}
{% block title %}Pacientes{% endblock %}
{% block breadcrumbs %}
{% render_breadcrumbs %}
{% endblock %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet">
<!-- <h1>Feriados en Chile</h1>
<h3>Proximo Feriado:</h3>
<form method="post">
    {% csrf_token %}
    {{ form.name }} {{form.date_on_calendar}}
    <input class='btn btn-success' type='submit' id="submit" value='Registrar Feriado' style="font-size: 13px;">
</form> -->
<div class="container-fluid">
    {% for message in messages %}
    <div class="container-fluid p-0 " id="message_container">
        <div class="alert-primary {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="form-row" style="padding-top: 15;">
        <div class="col-8">
            <div class="card" id="">
                <div class="card-header text-white mb-3" style="background-color:  rgb(75, 153, 177);"><i class="fas fa-calendar-week"></i> Agenda de Horas</div>
                <div class="card-body">
                    <div id="calendario"></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" id="">
                <div class="card-header text-white" style="background-color:  rgb(75, 153, 177);">Próximos Feriados</div>
                <div class="card-body">
                    <div class="table-responsive py-2">
                        <table class="table table-striped table-bordered table-sm" id="table-DB"
                            style="font-size: 11px;">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data %}
                                {% if d.fecha > today %}
                                <tr>
                                    <td>{{d.nombre}}</td>
                                    <td>{{d.fecha}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 15;">
                <div class="card-header text-white" style="background-color:  rgb(43, 87, 100);"><i class="fas fa-plus-circle"></i> Crear Cita</div>
                <div class="card-body">
                </div>
            </div>
            <div class="card" style="margin-top: 15;">
                <div class="card-header text-white" style="background-color:  rgb(177, 75, 163);"><i class="fas fa-search"></i> Buscar Cita</div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.es.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendario');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'es',
            initialView: 'timeGridWeek', // Puedes cambiar la vista inicial si lo deseas
            headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        allDayText: 'Horas', // Cambiar el texto "all-day" a "Todo el día"
        slotDuration: '00:15:00', // Establecer intervalos de tiempo de 15 minutos
        selectable: true, // Permitir selección de fechas
        eventClick: function (info) {
            // Función para eliminar eventos al hacer clic en ellos
            if (confirm('¿Seguro que desea eliminar este evento?')) {
                calendar.getEventById(info.event.id).remove();
            }
        },
        select: function (info) {
            // Verificar si la fecha seleccionada es un feriado
            if (esFeriado(info.start)) {
                alert('Esta fecha es un feriado y no se pueden tomar horas.');
            } else {
                var newEvent = {
                    title: 'Nuevo Evento',
                    start: info.startStr,
                    end: info.endStr,
                    allDay: info.allDay
                };
                calendar.addEvent(newEvent);
            }
        },
        buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista'
        },
            events: [
            // Aquí puedes cargar tus eventos desde tu base de datos o fuente de datos
            {
                title: 'Evento 1',
                start: '2023-09-21T09:00:00', // Ejemplo de fecha y hora
                end: '2023-09-21T15:00:00'   // Ejemplo de fecha y hora
            },
            {
                title: 'Evento 2',
                start: '2023-09-20T11:00:00', // Ejemplo de fecha y hora
                end: '2023-09-20T12:00:00'   // Ejemplo de fecha y hora
            },
            // Agrega más eventos según tus necesidades
        ],
        });
        calendar.render();
            // Función para verificar si una fecha es un feriado
    });
</script>
{% endblock %}




