@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

p{
 font-size: 0.8rem;   
}
.asteriskField {
    display: none;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group select,
  .form-group textarea {
    font-size: 13px;
  }

  .blue-label {
    color: rgb(75, 153, 177);
    font-weight: bolder;
    font-size: x-small;
  }

  .blue-separator {
    border-top: 4px solid #191372;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .red-separator {
    border-top: 4px solid #721313;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .custom-divider {
    border-right: 1px solid #ccc;
    /* Añade un borde derecho entre las columnas */
    padding-right: 15px;
    /* Añade espacio entre la línea y el contenido */
  }
  
.dropdown-menu {
    font-size: 0.8rem;
}

.card-body{
    font-size: small;
}

.wrapper .sidebar{
    background: rgb(75, 153, 177);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 5px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: contain;
    margin: 0 auto;
    background-color: #ffffff;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    transition: background-color 1s ease 0s;
    padding: 13px 30px;
    color: #f7efef;;
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar hr{
    color:#d2d8df;
}

.wrapper .sidebar ul li a .icon{
    color: #f5eded;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a .icon:hover{
    color: #ffffff;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #ffffff;
    background:rgb(21, 121, 134);
    text-decoration: none;
    
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #c7ccce;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: rgb(221, 223, 221);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #1fbfca;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #1282b6;
}

body.inactive .wrapper .sidebar{
    left: -225px;
}

body.inactive .wrapper .section{
    margin-left: 0;
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 530px) {
    .site-title { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 531px) {
    .site-title { 
        display: block; 
        margin-left: 10px;
        color: #03313f;
        font-weight: bold;
    }   /* hide it elsewhere */
}

.avatar {
    max-width: 35px;
}

.user-menu {
    color: #0e521d;
}

.nav-menu-link {
    color:#ffffff;
}

.nav-menu-link:hover {
    color: #000000;
}

.btn-frame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 250px;
    position: relative;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;
  }
  
  .btn-rrss{
    border-radius: 20px;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
   transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    font-size: 16px;
    color: rgba(42, 52, 84, 1);
    text-decoration: none;
  }
  
  .btn:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

  .select2-container--default {
    width: 100% !important;
  }
