:root {
    --primary: #0a1408;
    --light: #ffffff;
    --grey: #efefef;
}



.bg-primary { background-color: var(--primary) !important;}
.bg-light { background-color: var(--light) !important;}

#sidebar-container{
    min-height: 190vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 20rem;
}

.avatar {
    max-width: 35px;
}

#content {
    overflow-y:auto;
    height: 100vh;
    padding-bottom: 5rem
}