.wrapper .section .top_navbar .img-circle {
    opacity: 1;
transition: opacity 1s ease 0s;
}

.wrapper .section .top_navbar .img-circle:hover{
    opacity: 0.6;
}

.wrapper .section .top_navbar .dropdown-item {
    background-color: rgb(255, 255, 255);
    transition: background-color 1s linear 0s;
}

.wrapper .section .top_navbar .dropdown-item:hover{
    background-color: #15c0df;
}