<head>
    {% load static %}
    <!--SweetAlert2-->
    <!-- SweetAlert 2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css">

    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/gestion.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/topbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet">
    
    <title>{% block title %}{% endblock %}</title>
    <!-- Calendar -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
</head>

<body>
    <div class="wrapper">
        {% include 'sidebar.html' %}
        <div class="section">
            {% include 'topbar.html' %}
            <div id="content">
                <section class="py-3">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
        <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Your custom scripts go here -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- JS utils -->
    <script src="{% static 'js/utils.js' %}" rel="stylesheet"></script>
    <!-- SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
    <!-- Calendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>

    <script>
    

    document.querySelectorAll('.delete_patient').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Evita el comportamiento predeterminado del enlace
                
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Esta acción eliminará el paciente permanentemente.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = button.href;
                    }
                });
            });
        });
    </script>
    <script>
        var message_ele = document.getElementById("message_container");
        setTimeout(function(){ 
        message_ele.style.display = "none"; 
        }, 4000);
    </script>
    {% block script %}{% endblock %}
</body>