{% block breadcrumb %}
<style>
  .breadcrumb {
    list-style: none;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    display: inline-block;
  }

  .breadcrumb li {
    display: inline;
    margin-right: 5px;
  }

  .breadcrumb li:last-child {
    font-weight: bold;
  }
</style>
<nav>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} {% if not forloop.last %}
    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a></li>
    <li>/</li>
    {% else %}
    <li>{{ breadcrumb.label }}</li>
    {% endif %} {% endfor %}
  </ul>
</nav>
{% endblock %}
