{% load static%}
{% block footer %}
<footer class="text-center mt-auto border-top">
    <div class="container p-3">
        <section>
            <div class="p-1" style="color: black; text-decoration:solid; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 13px;">
                ® 2023. Marco Bustamante Designs. Todos los derechos reservados.
            </div>
        </section>
    </div>
</footer>
{% endblock %}