{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<div class="container-fluid">
    <div class="form-row" style="padding-top: 15px">
        <div class="col-12">
            {% for message in messages %}
            <div class="container-fluid p-0 alert-primary" id="message_container">
                <div class=" {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="form-row" style="padding-top: 15;">
                <div class="col-3">
                    <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
                        <div class="card-header" style="text-align: center;">Agenda Marzo</div>
                        <div class="card-body">
                            <p>15 Pacientes por mes</p>
                            <p>0 citas Anuladas</p>
                            <p>65% de Ocupación</p>
                            <p>85 Presupuestos</p>
                            <p>50% Agendados vs Atendidos</p>
                            <hr/>
                                <div class="card-hover-shadow-2x mb-3 card">
                                    <div class="rm-border responsive-center text-left card-header">
                                        <div>
                                            <h5 class="menu-header-title text-capitalize text-info">Atención por Mes
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="widget-chart widget-chart2 text-left pt-0">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-content">
                                                <div class="widget-chart-flex">
                                                    <div class="widget-numbers">
                                                        <div class="widget-chart-flex">
                                                            <div class="text-info"><span>60</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="widget-chart-wrapper widget-chart-wrapper-lg he-auto opacity-10 m-0">
                                                <ngx-trend height="80" strokelinecap="round" stroke="var(--success)"
                                                    strokewidth="4" smooth="true" radius="15" autodraw="true"
                                                    autodrawduration="1500" autodraweasing="ease-in"
                                                    class="ng-tns-c136-13" ng-reflect-height="80"
                                                    ng-reflect-stroke-linecap="round" ng-reflect-stroke="var(--success)"
                                                    ng-reflect-stroke-width="4" ng-reflect-smooth="true"
                                                    ng-reflect-radius="15" ng-reflect-auto-draw="true"
                                                    ng-reflect-auto-draw-duration="1500"
                                                    ng-reflect-auto-draw-easing="ease-in"
                                                    ng-reflect-data="0,10,5,22,3.6,11"><svg
                                                        class="ng-tns-c136-13 ng-star-inserted" width="100%" height="80"
                                                        stroke="var(--success)" stroke-width="4" stroke-linecap="round"
                                                        viewBox="0 0 300 80"><!--bindings={
                                            "ng-reflect-ng-if": "0"
                                          }-->
                                                        <path fill="none"
                                                            class="ng-tns-c136-13 ng-trigger ng-trigger-pathAnimaiton"
                                                            d="M 8,72
                                          L 51.44918035829936,49.74689866412324
                                          S 64.8,42.90909090909091 79.33110509681786,46.63024458305195
                                          L 107.06889490318213,53.73339178058441
                                          S 121.6,57.45454545454545 132.91284371390614,47.60469433360285
                                          L 167.08715628609386,17.849851120942606
                                          S 178.4,8 189.31643208207979,18.287444318067504
                                          L 224.2835679179202,51.23982840920523
                                          S 235.2,61.52727272727273 249.22639989260222,56.21124920843758
                                          L 292,40" style=""></path>
                                                    </svg><!--bindings={
                                            "ng-reflect-ng-if": "true"
                                          }--></ngx-trend></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card" style=" border-bottom: 2px solid rgb(75, 153, 177)">
                        <div class="card-header" style="text-align: center;">Ventas Marzo</div>
                        <div class="card-body" id="card-container-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <canvas id="ventasChart" width="200" height="200"></canvas>
                                </div>
                                <div class="col-md-6">
                                    <canvas id="recaudacionChart" width="200" height="200"></canvas>
                                </div>
                                <div class="col-12">
                                    <canvas id="barrasChart"></canvas> <!-- Gráfico de barras -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Datos de ejemplo para los gráficos
    var ventasData = {
        labels: ['Producto A', 'Producto B', 'Producto C'],
        datasets: [{
            data: [50, 30, 20],
            backgroundColor: ['#FF5733', '#33FF57', '#5733FF'],
        }]
    };

    var recaudacionData = {
        labels: ['Enero', 'Febrero', 'Marzo'],
        datasets: [{
            data: [1000, 1500, 2000],
            backgroundColor: ['#FF5733', '#33FF57', '#5733FF'],
        }]
    };
    var barrasData = {
            labels: ['Categoría 1', 'Categoría 2', 'Categoría 3'],
            datasets: [{
                label: 'Valores',
                data: [10, 20, 30],
                backgroundColor: ['#FF5733', '#33FF57', '#5733FF'],
            }]
        };

    // Configuración de los gráficos
    var ventasChart = new Chart(document.getElementById('ventasChart').getContext('2d'), {
        type: 'doughnut',
        data: ventasData,
        options: {
            responsive: true,
            maintainAspectRatio: false, // Esto desactiva el mantenimiento del aspecto para personalizar el tamaño
            width: 300, // Ancho personalizado
            height: 300 // Alto personalizado
        }
    });

    var recaudacionChart = new Chart(document.getElementById('recaudacionChart').getContext('2d'), {
        type: 'doughnut',
        data: recaudacionData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            width: 300,
            height: 300
        }
    });
    var barrasChart = new Chart(document.getElementById('barrasChart').getContext('2d'), {
            type: 'bar', // Tipo de gráfico de barras
            data: barrasData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
</script>
{% endblock %}