{% load static %}
<script type="text/javascript">
  tinyMCE.init({
    mode: "textareas",
    theme: "modern",
    plugins: "lists advlist autolink link image charmap print preview hr anchor pagebreak",
    toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
  });
</script>
<style>
  .nav-tabs .nav-item a {
    font-size: medium;
    color: rgb(53, 110, 128);
  }
</style>
<div class="container-fluid">
  {% for message in messages %}
  <div class="container-fluid p-0" id="message_container">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="ficha-tab" data-toggle="tab" href="#patient_detail" role="tab" aria-controls="ddrr"
        aria-selected="true"><i class="fas fa-user-md"></i> Ficha Clínica</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="evolutions-tab" data-toggle="tab" href="#evolutions" role="tab" aria-controls="truck"
        aria-selected="false"><i class="fas fa-arrow-circle-up"></i> Evoluciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="presupuesto-tab" data-toggle="tab" href="#presupuesto" role="tab" aria-controls="truck"
        aria-selected="false"><i class="far fa-sticky-note"></i> Presupuesto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="doc-clinicos-tab" data-toggle="tab" href="#doc_clinicos" role="tab" aria-controls="truck"
        aria-selected="false"><i class="fas fa-notes-medical"></i> Documentos Clínicos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="odontograma-tab" data-toggle="tab" href="#odontograma" role="tab" aria-controls="truck"
        aria-selected="false"><i class="fas fa-notes-medical"></i> Odontograma</a>
    </li>
  </ul>
  <!-- DETALLE DE PACIENTE -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="patient_detail" role="tabpanel" aria-labelledby="patient_detail-tab">
      <div class="container-fluid">
        {% for message in messages %}
        <div class="container-fluid p-0 alert-primary" id="message_container">
          <div class=" {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
          </div>
        </div>
        {% endfor %}
        <div class="form-row" style="padding-top: 15px;">
          <div class="col-3">
            <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
              <div class="card-header" style="background-color:  rgb(235, 237, 238);">Datos Personales<i
                  class="far fa-user-circle" style="float: right;"></i> </div>
              <div class="card-body">
                <div class="blue-label">{{ form.name.label_tag}}</div>
                {{ form.name.value }}
                <hr />
                <div class="blue-label">{{ form.rut.label_tag}}</div>
                {{ form.rut.value }}
                <hr />
                <div class="blue-label">{{ form.age.label_tag}}</div>
                {{ form.age.value }} años
                <hr />
                <div class="blue-label">{{ form.gender.label_tag}}</div>
                {{ form.gender.value }}
                <hr />
                <div class="blue-label">{{ form.create_date.label_tag}}</div>
                {{ form.create_date.value }}
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="height:430px; border-bottom: 2px solid rgb(75, 153, 177);">
              <div class="card-header" style="background-color:  rgb(235, 237, 238);">Datos de Contacto<i
                  class="far fa-address-book" style="float: right;"></i> </div>
              <div class="card-body">
                <div class="blue-label">{{ form.phone.label_tag}}</div>
                {{ form.phone.value }}
                <hr />
                <div class="blue-label">{{ form.email.label_tag}}</div>
                {{ form.email.value }}
                <hr />
                <div class="blue-label">{{ form.address.label_tag}}</div>
                {{ form.address.value }}
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="height:430px; border-bottom: 2px solid rgb(75, 153, 177);">
              <div class="card-header" style="background-color:  rgb(235, 237, 238);">Datos Clínicos<i
                  class="fas fa-notes-medical" style="float: right;"></i> </div>
              <div class="card-body">
                <div class="blue-label">{{ form.prevition.label_tag}}</div>
                {{ form.prevition.value }}
                <hr />
                <div class="blue-label">{{ form.diseases.label_tag}}</div>
                {{ form.diseases }}
                <hr />
                <div class="blue-label">{{ form.allergies.label_tag}}</div>
                {{ form.allergies.value }}
                <!-- falta medico tratante y medicamentos -->
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style=" border-bottom: 2px solid brown;">
              <div class="card-header" style="background-color:  rgb(235, 237, 238);">Próxima Cita<i
                  class="far fa-clock" style="float: right;"></i> </div>
              <div class="card-body">
                <p style="color: brown; text-align:center; font-size: 30px;">16:00</p>
                <p style="color: brown; text-align:center; font-size: 12px; margin-top: -20px;">Viernes 22 de Septiembre
                  de
                  2023</p>
                <hr class="red-separator" />
                <i class="fas fa-user-md"></i> | {{user.first_name.upper}} {{user.last_name.upper}}
                <hr />
                <i class="far fa-building"></i> | CLÍNICA DENTAL PUENTE ALTO
                <hr />
                <i class="fas fa-tooth"></i> | BOX 1 GENERAL PUENTE ALTO
              </div>
            </div>
            <div class="card" style="margin-top: 10px; border-bottom: 2px solid blue;">
              <div class="card-header" style="background-color:  rgb(235, 237, 238);">Última Cita Asistida<i
                  class="far fa-clock" style="float: right;"></i> </div>
              <div class="card-body">
                <p style="color:blue; text-align:center; font-size: 30px;">16:00</p>
                <p style="color: blue; text-align:center; font-size: 12px; margin-top: -20px;">Viernes 08 de Septiembre
                  de
                  2023</p>
                <hr class="blue-separator" />
                <i class="fas fa-user-md"></i> | {{user.first_name.upper}} {{user.last_name.upper}}
                <hr />
                <i class="far fa-building"></i> | CLÍNICA DENTAL PUENTE ALTO
                <hr />
                <i class="fas fa-tooth"></i> | BOX 1 GENERAL PUENTE ALTO
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- EVOLUCIONES -->
    <div class="tab-pane fade" id="evolutions" role="tabpanel" aria-labelledby="evolutions-tab">
      <div class="container-fluid">
        <div class="form-row" style="padding-top: 15px">
          <div class="col-12">
            {% for message in messages %}
            <div class="container-fluid p-0 alert-primary" id="message_container">
              <div class=" {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
              </div>
            </div>
            {% endfor %}
            <div class="form-row" style="padding-top: 15;">
              <div class="col-7">
                <div class="card" style="height:850px; border-bottom: 2px solid rgb(75, 153, 177);">
                  <div class="card-body">
                    <div class="form-group mr-5">
                      <button class="btn btn-outline-info" style="border-radius: 20px; font-size: small;">Crear Próximo
                        Control</button>
                      <button class="btn btn-outline-info ml-2" style="border-radius: 20px; font-size: small;">Próximos
                        Controles</button>
                    </div>
                    <div class="blue-label" style="font-size: medium !important;">Crear Nueva Evolución</div>
                    <hr />
                    <p>Profesional Sesión activa: <span class="blue-label"
                        style="font-size: small !important;">{{user.first_name.upper}} {{user.last_name.upper}}</span>
                      Contenido de la Evolución</p>
                    <div class="card">
                      <div class="card-body">
                        <div class="container">
                          <p for="miSelect">Predefinidas:</p>
                          <select id="miSelect" style="margin-top: -15px;">
                            <option value="opcion1">Seleccione...</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                            <option value="opcion4">Opción 4</option>
                          </select>
                          <div class="form-group mr-5" style="margin-top: 20px;">
                            <button class="btn btn-outline-info" style="border-radius: 20px; font-size: small;"><i
                                class="fas fa-edit"></i> Editar
                              Predefinidas</button>
                            <button class="btn btn-outline-info ml-2"
                              style="border-radius: 20px; font-size: small;">Generar Alta</button>
                          </div>
                          <div class="form-group">
                            {{evo_form.media}}
                            {{evo_form.body}}
                            <div class="form-group">
                              <button class="btn btn-info ml-2" id="save_body"
                                style="border-radius: 20px; font-size: small; margin-top: 20px;"><i
                                  class="fas fa-save"></i> Grabar nueva evolución</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="card" style=" border-bottom: 2px solid rgb(75, 153, 177)">
                  <div class="card-body" id="card-container-data">
                    <!-- <div class="container mt-1">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="d-flex justify-content-between">
                            <i class="fas fa-filter"></i> Filtrar por Profesional
                            <select id="miSelect" style="margin-top: -15px;">
                              <option value="opcion1">TODOS...</option>
                              <option value="opcion2">Opción 1</option>
                              <option value="opcion3">Opción 2</option>
                              <option value="opcion4">Opción 3</option>
                            </select>
                            <button class="btn btn-info" style="border-radius: 15px; font-size: small;">
                              <i class="fas fa-print" style="float: right;"></i></button>
                          </div>
                        </div>
                        <div class="form-group mr-5">
                          <button class="btn btn-outline-info"
                            style="border-radius: 20px; font-size: small;">Habilitadas</button>
                          <button class="btn btn-outline-info ml-2"
                            style="border-radius: 20px; font-size: small;">Deshabilitadas</button>
                          <button class="btn btn-outline-info ml-2"
                            style="border-radius: 20px; font-size: small;">Todas</button>
                        </div>
                      </div>
                    </div> 
                  </div> -->

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- DOCUMENTOS MÉDICOS -->
    <div class="tab-pane fade" id="doc_clinicos" role="tabpanel" aria-labelledby="evolutions-tab">
      <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 15px;">
          <li class="nav-item custom-nav-item">
            <a class="nav-link active" id="ficha-tab" data-toggle="tab" href="#patient_detail" role="tab"
              aria-controls="ddrr" aria-selected="true"><i class="fas fa-file-medical"></i> Recetas</a>
          </li>
          <li class="nav-item custom-nav-item">
            <a class="nav-link" id="evolutions-tab" data-toggle="tab" href="#evolutions" role="tab"
              aria-controls="truck" aria-selected="false"><i class="fas fa-flask"></i> Ordenes de Laboratorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="evolutions-tab" data-toggle="tab" href="#orders_rx" role="tab" aria-controls="truck"
              aria-selected="false"><i class="fas fa-file-prescription"></i> Ordenes de Rx</a>
          </li>
        </ul>
        <div class="form-row" style="padding-top: 15px">
          <div class="col-12">
            {% for message in messages %}
            <div class="container-fluid p-0 alert-primary" id="message_container">
              <div class=" {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
              </div>
            </div>
            {% endfor %}
            <div class="form-row" style="padding-top: 15;">
              <div class="col-7">
                <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
                  <div class="card-body">
                    <div class="form-group mr-5">
                      <button class="btn btn-outline-info" style="border-radius: 20px; font-size: small;">Crear Próximo
                        Control</button>
                      <button class="btn btn-outline-info ml-2" style="border-radius: 20px; font-size: small;">Próximos
                        Controles</button>
                    </div>
                    <div class="blue-label" style="font-size: medium !important;">Crear Nueva Evolución</div>
                    <hr />
                    <p>Profesional Sesión activa: <span class="blue-label"
                        style="font-size: small !important;">{{user.first_name.upper}} {{user.last_name.upper}}</span>
                      Contenido de la Evolución</p>
                    <div class="card">
                      <div class="card-body">
                        <div class="container">
                          <p for="miSelect">Predefinidas:</p>
                          <select id="miSelect" style="margin-top: -15px;">
                            <option value="opcion1">Seleccione...</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                            <option value="opcion4">Opción 4</option>
                          </select>
                          <div class="form-group mr-5" style="margin-top: 20px;">
                            <button class="btn btn-outline-info" style="border-radius: 20px; font-size: small;"><i
                                class="fas fa-edit"></i> Editar
                              Predefinidas</button>
                            <button class="btn btn-outline-info ml-2"
                              style="border-radius: 20px; font-size: small;">Generar Alta</button>
                          </div>
                          <div class="form-group">
                            <!-- {{evo_form.media}}
                            {{evo_form.body}} -->
                            <div class="form-group">
                              <button class="btn btn-info ml-2" id="save_body"
                                style="border-radius: 20px; font-size: small; margin-top: 20px;"><i
                                  class="fas fa-save"></i> Grabar nueva evolución</button>
                              <a href="{% url 'generar_pdf' paciente.id %}">Generar PDF</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="card" style=" border-bottom: 2px solid rgb(75, 153, 177)">
                  <div class="card-body" id="card-container-data">
                    <!-- <div class="container mt-1">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="d-flex justify-content-between">
                            <i class="fas fa-filter"></i> Filtrar por Profesional
                            <select id="miSelect" style="margin-top: -15px;">
                              <option value="opcion1">TODOS...</option>
                              <option value="opcion2">Opción 1</option>
                              <option value="opcion3">Opción 2</option>
                              <option value="opcion4">Opción 3</option>
                            </select>
                            <button class="btn btn-info" style="border-radius: 15px; font-size: small;">
                              <i class="fas fa-print" style="float: right;"></i></button>
                          </div>
                        </div>
                        <div class="form-group mr-5">
                          <button class="btn btn-outline-info"
                            style="border-radius: 20px; font-size: small;">Habilitadas</button>
                          <button class="btn btn-outline-info ml-2"
                            style="border-radius: 20px; font-size: small;">Deshabilitadas</button>
                          <button class="btn btn-outline-info ml-2"
                            style="border-radius: 20px; font-size: small;">Todas</button>
                        </div>
                      </div>
                    </div> 
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ODONTOGRAMA -->
    <div class="tab-pane fade" id="odontograma" role="tabpanel" aria-labelledby="evolutions-tab">
      <div class="container-fluid">
        <div class="form-row" style="padding-top: 15px">
          <div class="col-12">
            {% for message in messages %}
            <div class="container-fluid p-0 alert-primary" id="message_container">
              <div class=" {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
              </div>
            </div>
            {% endfor %}
            <div class="form-row" style="padding-top: 15;">
              <div class="col-6" style="display: flex;">
                <div class="card" style="border-bottom: 2px solid rgb(75, 153, 177);">
                  <div class="card-body">
                    <div class="form-group mr-5">
                      <h3 align="center" style="color: #000000;">¿Quieres crear un odontograma?</h3>
                      <a href="{% url 'new_odontogram' %}" class="btn btn-outline-info mr-1" style="font-size: 13px; width: 120px;">Crear</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block script %}
  {% csrf_token %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    var csrf_token = '{{ csrf_token }}';
    $(document).ready(function () {
      $("#save_body").click(function () {
        var contenidoBody = CKEDITOR.instances.id_body.getData();
        $.ajax({
          url: "{% url 'evolutions_save' patient_id=paciente.id %}",
          type: "POST",
          data: { texto: contenidoBody, csrfmiddlewaretoken: csrf_token },
          success: function (data) {
            var textoRecibido = data.texto;
            var nuevaCard = '<div class="card mt-2"><div class="card-body">' + 'Médico Tratante: ' + '<b>{{user.first_name}} {{user.last_name|capfirst}}<b/> ' + ' {{evo_form.date_body_save.value}}' + textoRecibido + '</div></div>';
            $("#card-container-data").prepend(nuevaCard);
            $("#texto").val('');
          }
        });
      });
    });
  </script>
  {% endblock %}