{% load static %}
      <div class="row">
          <div class="col-md-12">
              <ul class="nav nav-tabs">
                  <!-- <li class="nav-item">
                    {% for px in pacientes %}
                      <a href="{% url 'patient_detail' px.id %}" class="nav-link {% if request.path == '/pacientes/patient_detail/' %}active{% endif %}">Ficha Clínica</a>
                      {% endfor %}
                  </li> -->
                <li class="nav-item">
                    <a  href="{% url 'patient_detail' patient_id=paciente.id %}" class="nav-link {% if request.path == '/pacientes/patient_detail/' %}active{% endif %}">Ficha Clínica</a>
                </li>
                  <li class="nav-item">
                      <a  href="{% url 'evolutions' %}" class="nav-link {% if request.path == '/pacientes/evolutions/' %}active{% endif %}">Evoluciones</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Documentos Clínicos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Presupuestos</a>
                </li>
                  <li class="nav-item dropdown ml-md-auto">
                       <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">.</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                           <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider">
                          </div> <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
