{% load static %}
{% block sidebar %}

<div class="sidebar">
    <div class="profile">
      <img src="{% static 'img/logo1.jpg' %}" />
      <div class="12">
        <h3>Bienvenido/a</h3>
        <p style="font-size: medium;">{{user.first_name.capitalize}} {{user.last_name|capfirst}}</p>
         <span style="font-size: x-small; color: aliceblue; margin-top: 1px;">Último Ingreso: {{user.last_login}}</span> 
        </div>
      <hr />
    </div>
    <ul>
      <li>
        <a href="{% url 'home' %}" class="{% if request.path == '/home/' %}active{% endif %}" style="font-size: 13px">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="item">Inicio</span>
        </a>
      </li>
      <li>
        <a href="{% url 'schedule' %}" class="{% if request.path == '/agenda/' %}active{% endif %}" style="font-size: 13px">
          <span class="icon"><i class="fas fa-calendar"></i></span>
          <span class="item">Agenda</span>
        </a>
      </li>
      <li>
        <a href="{% url 'index' %}" class="{% if request.path == '/pacientes/' %}active{% endif %}" style="font-size: 13px">
          <span class="icon"><i class="fas fa-user"></i></span>
          <span class="item">Pacientes</span>
        </a>
      </li>
      <li>
        <a  href="{% url 'report' %}" class="{% if request.path == '/reportes/' %}active{% endif %}" style="font-size: 13px">
          <span class="icon"><i class="fas fa-chart-pie"></i></span>
          <span class="item">Informes</span>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
