{% block topbar %}
<div class="top_navbar">
  <div class="hamburger">
    <a href="#">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="site-title">Portal ML Dent</div>
  <nav class="navbar navbar-expand-lg navbar-light ml-auto">
    <div id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle mr-5"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="" class="img-circle elevation-2 avatar mr-2" /><i class="fas fa-user" style="font-size: 16px;" ></i>
            <span class="user-menu"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:-40px;">
            <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">Sitio Administrador</a>
            <a class="dropdown-item" href="{% url 'view_profile' %}">Mi Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock %}
