{% extends "base.html" %} {% load static %} {% block title %}Detalle del
Paciente{% endblock %} {% load crispy_forms_tags %} {% block content %}
<style>
  .asteriskField {
    display: none;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group select,
  .form-group textarea {
    font-size: 13px;
  }
</style>
<div class="container-fluid">
  <div class="form-row">
      <div class="col-12">
          <div class="card">
              <div class="card-header text-white mb-3" style="background-color: rgb(75, 153, 177);">Datos de Usuario</div>
              <div class="card-body">
                  <div>
                      usuario: <h3><b>{{user.username.capitalize}}</b></h3>
                  </div>
                  <hr>
                      <div class="row">
                          <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                          </div>
                          <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                          </div>

                          </div>
                        <div class="row">
                          <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                          </div>
                          <div class="col-md-6">
                            {{ form.date_joined|as_crispy_field }}
                          </div>
                          <div class="col-auto border-start border-end">
            
                          </div>
                      </div>
                      <a href="{% url 'index' %}" class="btn btn-info mr-1">
                        Volver
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}