{% extends 'base.html' %}
{% load static %}

{% block content %}
<head><link rel="stylesheet" href="{% static 'css/picnic.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/odonto.css' %}"></head>
<style>

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Espacio entre las listas */
}

ol {
  list-style: none; /* Eliminar viñetas */
  padding: 0; /* Eliminar relleno predeterminado */
}

li {
  display: flex;
  align-items: center; /* Alinear verticalmente el texto e imagen */
  margin-bottom: 4px; /* Espacio entre elementos */
  font-size: 15px;
}

/* .inner_tooth{
  width: 22px;
  height: 22px;
} */

</style>
<div class="container">
      <article class="card" style="text-align: center;">
        <div class="card-header">Odontograma versión códigos</div>
        <div class="card-body">
          <div>
            <form method="POST">
              {% csrf_token %}
              <div>
                <br><br>
                <div class="line1_p1">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_18' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.8</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_18" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_18 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_18" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p2">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_17' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.7</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_17" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_17 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_17" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p3">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_16' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.6</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_16" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_16 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_16" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p4">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_15' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_15" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_15 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_15" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p5">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_14' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_14" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_14 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_14" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p6">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_13' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_13" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_13 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_13" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p7">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_12' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_12" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_12 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_12" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p8">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_11' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">1.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_11" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_11 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_11" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p9">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_21' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_21" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_21 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_21" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p10">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_22' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_22" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_22 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_22" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p11">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_23' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_23" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_23 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_23" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p12">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_24' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_24" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_24 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_24" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p13">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_25' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_25" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_25 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_25" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p14">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_26' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.6</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_26" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_26 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_26" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p15">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_27' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.7</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_27" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_27 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_27" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line1_p16" style="margin-bottom: 4px;">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_28' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">2.8</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_28" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_28 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_28" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <br><br>
                <div class="line2_p4">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_55' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">5.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_55" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_55 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_55" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p5">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_54' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">5.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_54" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_54 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_54" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p6">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_53' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">5.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_53" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_53 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_53" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p7">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_52' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">5.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_52" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_52 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_52" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p8">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_51' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">5.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_51" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_51 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_51" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p9">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_61' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">6.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_61" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_61 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_61" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p10">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_62' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">62</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_62" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_62 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_62" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p11">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_63' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">6.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_63" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_63 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_63" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p12">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_64' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">6.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_64" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_64 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_64" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line2_p13">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_65' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l1">6.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_65" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_65 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_65" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                  <br><br><br>
                <div class="line3_p4">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_85' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">8.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_85" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_85 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_85" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p5">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_84' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">8.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_84" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_84 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_84" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p6">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_83' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">8.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_83" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_83 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_83" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p7">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_82' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">8.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_82" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_82 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_82" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p8">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_81' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">8.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_81" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_81 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_81" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p9">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_71' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">7.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_71" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_71 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_71" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p10">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_72' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">7.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_72" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_72 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_72" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p11">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_73' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">7.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_73" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_73 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_73" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p12">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_74' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">7.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_74" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_74 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_74" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line3_p13">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_75' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">7.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_75" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_75 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_75" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <br><br>
                <div class="line4_p1">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_48' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.8</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_48" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_48 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_48" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p2">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_47' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.7</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_47" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_47 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_47" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p3">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_46' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.6</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_46" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_46 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_46" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p4">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_45' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_45" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_45 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_45" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p5">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_44' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_44" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_44 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_44" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p6">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_43' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_43" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_43 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_43" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p7">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_42' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_42" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_42 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_42" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p8">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_41' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">4.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_41" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_41 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_41" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p9">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_31' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.1</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_31" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_31 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_31" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p10">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_32' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.2</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_32" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_32 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_32" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p11">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_33' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.3</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_33" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_33 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_33" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p12">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_34' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.4</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_34" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_34 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_34" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p13">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_35' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.5</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_35" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_35 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_35" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p14">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_36' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.6</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_36" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_36 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_36" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p15">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_37' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.7</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_37" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_37 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_37" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <div class="line4_p16">
                  <a href="{% url 'tooth' pk_mouth=odontogram.id nb_tooth='t_38' %}">
                    <input type="hidden" value="submit">
                    <span class="text_l2">3.8</span>
                    <img class="inner_tooth" style="position: absolute; z-index : 0;" src="{% static 'img/sano.png' %}" alt="t_38" width="20" height="20">
                    {% for t in treatments %}
                      {% if t in odontogram.t_38 %}
                        <img class="inner_tooth" style="position: absolute; z-index : 1;" src="{% static "img/"|add:t|add:".png" %}" alt="t_38" width="20" height="20">
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
                <br><br>
              </div>
            </form>
          </div>
          <br><br><br><br>
          <div class="legend" style="margin-top: 20px;">
            <ol>
              <li><img src="{% static 'img/sano.png' %}" alt="tooth" width="25" height="25"> Sano</li>
              <li><img src="{% static 'img/c1.png' %}" alt="tooth" width="25" height="25"> Caries Tipo 1</li>
              <li><img src="{% static 'img/c2.png' %}" alt="tooth" width="25" height="25"> Caries Tipo 2</li>
              <li><img src="{% static 'img/c3.png' %}" alt="tooth" width="25" height="25"> Caries Tipo 3</li>
              <li><img src="{% static 'img/c4.png' %}" alt="tooth" width="25" height="25"> Caries Tipo 4</li>
              <li><img src="{% static 'img/c5.png' %}" alt="tooth" width="25" height="25"> Caries Tipo 5</li>
            </ol>
            <ol>
              <li><img src="{% static 'img/r1.png' %}" alt="tooth" width="25" height="25"> Restauración Tipo 1</li>
              <li><img src="{% static 'img/r2.png' %}" alt="tooth" width="25" height="25"> Restauración Tipo 2</li>
              <li><img src="{% static 'img/r3.png' %}" alt="tooth" width="25" height="25"> Restauración Tipo 3</li>
              <li><img src="{% static 'img/r4.png' %}" alt="tooth" width="25" height="25"> Restauración Tipo 4</li>
              <li><img src="{% static 'img/r5.png' %}" alt="tooth" width="25" height="25"> Restauración Tipo 5</li>
            </ol>
            <ol>
              <li><img src="{% static 'img/p.png' %}" alt="tooth" width="25" height="25"> Para extracción</li>
              <li><img src="{% static 'img/e.png' %}" alt="tooth" width="25" height="25"> Extracción</li>
              <li><img src="{% static 'img/N.png' %}" alt="tooth" width="25" height="25"> Endodoncia</li>
              <li><img src="{% static 'img/PL.png' %}" alt="tooth" width="25" height="25"> Pulpa con lesión</li>
              <li><img src="{% static 'img/z.png' %}" alt="tooth" width="25" height="25"> Sarro</li>
              <li><img src="{% static 'img/d.png' %}" alt="tooth" width="25" height="25"> Desgaste</li>
              <li><img src="{% static 'img/g.png' %}" alt="tooth" width="25" height="25"> Prótesis</li>
            </ol>
          </div>
        </div>
        
        <footer>
          <a href="{% url 'update_odontogram' pk_mouth=odontogram.id %}" class="btn btn-outline-info mr-1" style="font-size: 13px; width: 200px; text-align: center; margin: 4px;">Vista con Imágenes</a>
        </footer>
      </article>
    </div>
{% endblock %}
